@model List<Report>
@{
    ViewData["Title"] = "Отчёты";
    string entityName = "Report";
}

<div class="center_element">
    <div>Таблица "Отчёты"</div>
    <div>@Html.ActionLink("Вернуться на главную страницу", "Index", "Home", new { area = "" })</div>
    <table align="center">
        <thead>
            <tr>
                <th>ID</th>
                <th>ID осмотра</th>
                <th>Тело отчёта</th>
                <th>Принятые меры</th>
                <th>Заключение</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.InspectionID</td>
                    <td>@item.Body</td>
                    <td>@item.TakenMeasures</td>
                    <td>@item.Conclusion</td>
                    @{
                        if (Accessor.HttpContext?.IsUserInRoles("admin","manager") == true)
                        {
                            <td>
                                <ul>
                                    <li>@Html.ActionLink("Редактировать", "BeginUpdate", entityName, new { id = item.ID })</li>
                                    @if (Accessor.HttpContext?.IsUserInRoles("admin") == true)
                                    {
                                        <li>@Html.ActionLink("Удалить", "Delete", entityName, new { id = item.ID }, htmlAttributes: new { onclick = "return confirm('Удалить запись?');" })</li>
                                    }
                                </ul>
                            </td>
                        }
                    }
                </tr>
            }
        </tbody>
        <tfoot>
            @if (Accessor.HttpContext?.IsUserInRoles("admin","manager") == true)
            {
                @using (Html.BeginForm("Create", entityName, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <tr>
                        <td>Авто</td>
                        <td><input class="form-control" type="text" name="Body" /></td>
                        <td><input class="form-control" type="number" name="InspectionID" /></td>
                        <td><input class="form-control" type="text" name="TakenMeasures" /></td>
                        <td><input class="form-control" type="text" name="Conclusion" /></td>
                        <td><input class="btn btn-primary" type="submit" value="Добавить" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Html.ValidationMessage("Body", "", new { @class = "text-danger" })</td>
                        <td>@Html.ValidationMessage("InspectionID", "", new { @class = "text-danger" })</td>
                        <td>@Html.ValidationMessage("TakenMeasures", "", new { @class = "text-danger" })</td>
                        <td>@Html.ValidationMessage("Conclusion", "", new { @class = "text-danger" })</td>
                    </tr>
                }
            }
        </tfoot>
    </table>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</div>