@model Mapping
@{
    ViewData["Title"] = "Редактирование элемента сетки координат";
    string entityName = "Mapping";
}

<div class="center_element">
    <h3>Редактирование элемента сетки координат @Model.ID</h3>

    @using (Html.BeginForm("FinishUpdate", entityName, FormMethod.Post))
    {
        @Html.HiddenFor(m => m.ID)
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <table class="table table-bordered">
            <tr>
                <td>@Html.LabelFor(m => m.XCoord)</td>
                <td>
                    @Html.TextBoxFor(m => m.XCoord, new { @class = "form-control", type = "number", step = "any" })
                    @Html.ValidationMessageFor(m => m.XCoord, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.YCoord)</td>
                <td>
                    @Html.TextBoxFor(m => m.YCoord, new { @class = "form-control", type = "number", step = "any" })
                    @Html.ValidationMessageFor(m => m.YCoord, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Order)</td>
                <td>
                    @Html.TextBoxFor(m => m.Order, new { @class = "form-control", type = "number" })
                    @Html.ValidationMessageFor(m => m.Order, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Description)</td>
                <td>
                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.NetworkID)</td>
                <td>
                    @Html.TextBoxFor(m => m.NetworkID, new { @class = "form-control", type = "number" })
                    @Html.ValidationMessageFor(m => m.NetworkID, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.DachaID)</td>
                <td>
                    @Html.TextBoxFor(m => m.DachaID, new { @class = "form-control", type = "number" })
                    @Html.ValidationMessageFor(m => m.DachaID, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td colspan="2" class="text-center">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <a asp-action="Index" class="btn btn-secondary">Отмена</a>
                </td>
            </tr>
        </table>
    }
</div>