@using System.Security.Claims
@using Lesnichestvo.Extensions
@inject IHttpContextAccessor Accessor

@model List<SoldWood>
@{
    ViewData["Title"] = "Проданная древесина";
    string entityName = "SoldWood";
}

<div class="center_element">
    <div>Таблица "Проданная древесина"</div>
    <div>@Html.ActionLink("Вернуться на главную страницу", "Index", "Home", new { area = "" })</div>
    <table align="center" class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>ID типа древесины</th>
                <th>Количество</th>
                <th>ID заказчика</th>
                <th>ID лесной дачи</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.WoodTypeID</td>
                    <td>@item.Quantity</td>
                    <td>@item.CustomerID</td>
                    <td>@item.DachaID</td>
                    @{
                        if (Accessor.HttpContext?.IsUserInRoles("admin", "manager") == true)
                        {
                            <td>
                                <ul class="horizontal">
                                    <li>@Html.ActionLink("Редактировать", "BeginUpdate", entityName, new { id = item.ID })</li>
                                    @if (Accessor.HttpContext?.IsUserInRoles("admin") == true)
                                    {
                                        <li>@Html.ActionLink("Удалить", "Delete", entityName, new { id = item.ID }, htmlAttributes: new { onclick = "return confirm('Удалить запись?');" })</li>
                                    }
                                </ul>
                            </td>
                        }
                    }
                </tr>
            }
        </tbody>
        <tfoot>
            @if (Accessor.HttpContext?.IsUserInRoles("admin", "manager") == true)
            {
                @using (Html.BeginForm("Create", entityName, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <tr>
                        <td>Авто</td>
                        <td><input class="form-control" type="number" name="WoodTypeID" /></td>
                        <td><input class="form-control" type="number" name="Quantity" /></td>
                        <td><input class="form-control" type="number" name="CustomerID" /></td>
                        <td><input class="form-control" type="number" name="DachaID" /></td>
                        <td><input class="btn btn-primary" type="submit" value="Добавить" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Html.ValidationMessage("WoodTypeID", "", new { @class = "text-danger" })</td>
                        <td>@Html.ValidationMessage("Quantity", "", new { @class = "text-danger" })</td>
                        <td>@Html.ValidationMessage("CustomerID", "", new { @class = "text-danger" })</td>
                        <td>@Html.ValidationMessage("DachaID", "", new { @class = "text-danger" })</td>
                    </tr>
                }
            }
        </tfoot>
    </table>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</div>