@using Lesnichestvo.DAL.Entities
@model Dacha

<div class="center_element">
    <h3>Редактирование Лесной дачи @Model.ID</h3>

    @using (Html.BeginForm("FinishUpdate", "Dacha", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.ID)

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <table class="table table-bordered">
            <tr>
                <td>@Html.LabelFor(m => m.NetworkID)</td>
                <td>
                    @Html.TextBoxFor(m => m.NetworkID, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NetworkID, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Description)</td>
                <td>
                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td colspan="2" class="text-center">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <a asp-action="Index" class="btn btn-secondary">Отмена</a>
                </td>
            </tr>
        </table>

    }

</div>
