@model List<Item>
@{
    ViewData["Title"] = "Инвентарь";
    string entityName = "Item";
}
<div class="center_element">
    <div>Таблица "Инвентарь"</div>
    <div>@Html.ActionLink("Вернуться на главную страницу", "Index", "Home", new { area = "" })</div>
    <table align="center">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Цена</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.Status</td>
                    <td>
                        @Html.ActionLink("Редактировать", "BeginUpdate", entityName, new { area = "Entities", id = item.ID })
                        @Html.ActionLink("Удалить", "Delete", entityName, new { area = "Entities", id = item.ID }, new { onclick = "return confirm('Удалить запись?');" })
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            @using (Html.BeginForm("Create", entityName, FormMethod.Post, new { area = "Entities" }))
            {
                @Html.AntiForgeryToken()
                <tr>
                    <td>Авто</td>
                    <td><input class="form-control" type="text" name="Name" /></td>
                    <td><input class="form-control" type="number" name="Price" step="0.01" /></td>
                    <td><input class="form-control" type="text" name="Status" /></td>
                    <td><input class="btn btn-primary" type="submit" value="Добавить" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessage("Name", "", new { @class = "text-danger" })</td>
                    <td>@Html.ValidationMessage("Price", "", new { @class = "text-danger" })</td>
                    <td>@Html.ValidationMessage("Status", "", new { @class = "text-danger" })</td>
                </tr>
            }
        </tfoot>
    </table>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</div>